.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.start-screen {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.start-button {
  font-size: 24px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

.word {
  font-size: 2em;
  margin-bottom: 20px;
}

.buttons {
  margin-top: 20px;
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}
.drawing-canvas {
  border: 2px solid #000;
  background-color: #fff;
}
.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}
.timer {
  font-size: 20px;
  margin-bottom: 20px;
}

.timer-container {
  display: flex;
  align-items: center;
}

.end-turn-button {
  margin-left: 20px;
  padding: 5px 10px;
  font-size: 16px;
}
.description {
  margin-top: 20px;
  width: 50%;
  font-size: 16px;
  padding: 10px;
  text-align: center;
}

.drawing-image {
  width: 500px;
  height: 500px;
  margin-top: 20px;
}
.num-players-input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
}

.num-players-label {
  margin-bottom: 5px;
  font-size: 16px;
  display: block;
}

.title-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  /* Adjust the width as needed */
  height: auto;
  margin-right: 10px;
  /* Adjust the margin as needed */
}
.current-player {
  margin-right: 30px;
  font-size: 24px;
}

.game-over-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  font-size: 24px;
  background-color: #282c34;
  color: white;
}
.game-over-text {
  margin-bottom: 20px;
  /* Add padding below the Game Over text */
}

.restart-button {
  padding: 10px 20px;
  font-size: 18px;
  color: #282c34;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.restart-button:hover {
  background-color: #f0f0f0;
}
.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.result {
  margin-bottom: 20px;
  text-align: center;
}

.result img {
  max-width: 100%;
  height: auto;
}